* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

h1, h2, p {
    color: white;
}

button {
    border: none;
    width: 12.5rem;
    height: 3.75rem;
    margin: .625rem;
    padding: 5px;
    border-radius: 5px;
}
.vs {
    font-size: 2.5rem;
    margin-bottom: .625rem;
}

.button {
    &__randomize {
        background-color: #3328B9;
        opacity: 70%;
        color:white;
        font-size: 16px;
        &:hover {
            opacity: 100%;
        }
        &:active {
            border: 1px solid white;
        }

    }
    &__battle {
        background-color: #A73B3B;
        opacity: 70%;
        color:white;
        font-size: 16px;
        &:hover {
            background-color: #A73B3B;
            opacity: 100%;
        }
        &:active {
            border: 1px solid white;
        }
    }
}

.navbar {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    background-color: #333333;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 3.125rem;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__name {
        margin-bottom: 10px;
    }
    &__image {
        background-color: #333333;
        width: 21.875rem;
        height: 25rem;
        border-radius: 5px;
    }
    &__attacks {
        margin: .625rem;
    }
    &__attacks-top {
        display: flex;
        width: 21.875rem;
        justify-content: space-between;
        margin-bottom: .625rem;
    }

    &__attacks-bottom {
        display: flex;
        width: 21.875rem;
        justify-content: space-between;
    }

    &__attack {
        background-color: #333333;
        color: white;
        width: 170px;
        height: 3.75rem;
        font-size: .875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}

.popup {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;

    &__text {
        margin-bottom: .3125rem;
    }
    &__winner {
        font-size: 1.875rem;
        color:#0FD85C;
    }
}